body {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 530px;

     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#wordle {
    font-size: 30px;
    color: rgb(248, 49, 89);
}



.contenedorDeCasillas {
    margin: 20px;
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 300px;
    height: 300px;


}

.contenedorDeLetras {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 5px;


}

.casilla {

    border: 5px;
    display: flex;
    height: 45px;
    width: 45px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid rgb(216, 216, 216);
}

#btnJugar {

    width: 100px;
    height: 45px;
    margin-top: 15px;
    border-radius: 50px;
    background-color: rgb(248, 49, 89);
    color: white;


}

.letra {
    color: aliceblue;
    text-transform: uppercase;
}

#btnJugar:active {
    transform: scale(0.9);
}

#btnDeNuevo {
    display: none;
    margin-top: 15px;
    width: 140px;
    height: 45px;
    border-radius: 50px;
    background-color: rgb(248, 49, 89);
    color: white;


}

#btnDeNuevo:active {
    transform: scale(0.9);
}


#entrada {
    width: 150px;
    height: 30px;
    border-radius: 50px;
}



#mensaje {

    height: 100px;
    display: none;
    font-size: 30px;

}

#mensaje2 {
    margin: 0%;
    height: 100px;
    display: none;
    font-size: 30px;

}

#mensaje h1 {
    margin: 0%;
}

#mensaje2 h1 {
    margin: 0%;
}

#btnAyuda {
    background-color: rgb(255, 255, 255);
    border: 0;
}

.header {
    display: flex;

    justify-content: end;
    width: 100%;

}

@media (max-width: 768px) {
    .contenedor {
        width: 100%;
    }
}